.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex2 {
  display: flex;
  justify-content: space-between;
}

.flex3 {
  display: flex;
  align-items: center;
}